

/* variables de colores */

$colorbl :  rgb(255, 255, 255);

$aliceblue : aliceblue;

$grey :  rgb(174, 177, 180);

$oscuro : rgb(28, 26, 27);

$grey2 :  rgb(62, 62, 62);

$back : rgba(63,71,94,255);